*.vtu
*.vtk
*.o
*.deps
*.a
*Makefile
*.cmd
*.output.*
*.joblog.*
*~
*.swp
./configure
./doc/html/installdox
./src/Element/Test/TestFEgeomElement
./src/Element/Test/TestFEgeomElement1D
./src/Element/Test/TestLMEgeomElement
./src/Material/Test/TestMaterial
./src/Material/Test/TestPlasticMaterial
./src/Mesh/Test/TestMesh
./src/Quadrature/Test/TestQuadrature
./src/Shape/Test/TestShape
./src/Solver/Test/TestEigen
./src/VoomMath/Test/TestVoomMath
./src/Applications/TestBVP/TestBVP
./src/Applications/TestBVP/TestPressure
./src/Applications/TestBVP/TestMultiStepsBVP
./src/Applications/TestBVP/TestCube
./src/Applications/TestBVP/TestStrip.cmd
./src/Applications/TestBVP/TestStrip
./src/Applications/TestBVP/StripLV
./src/Applications/TestBVP/StripLV.cmd
./src/Potential/Test/TestViscousPotential
./install-sh
./missing
./depcomp
./config.status
*Makefile.in
*.orig
